.sa-toolbar-user__avatar {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.sa-toolbar-user__avatar > * {
    max-width: 2rem;
    height: auto;
}

.sa-symbol--profile-photo {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: fit-content;
    height: fit-content;
    overflow: hidden;
}

.sa-symbol--profile-photo > svg,
.sa-symbol--profile-photo > img {
    width: 100%;
    height: auto;
}

.sa-symbol--profile-photo .overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    transition: 300ms;
    opacity: 0;
    cursor: pointer;
}

.sa-symbol--profile-photo:hover .overlay {
    opacity: 1;
}
